<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cmpay.zwb.dao.IRoleMenuDao" >

    <resultMap id="BaseResultMap" type="com.cmpay.zwb.entity.RoleMenuDO" >
        <result column="id" property="id" jdbcType="BIGINT" />
        <result column="rid" property="rid" jdbcType="BIGINT" />
        <result column="mid" property="mid" jdbcType="BIGINT" />
        <result column="action" property="action" jdbcType="VARCHAR" />
        <result column="create_user" property="createUser" jdbcType="BIGINT" />
        <result column="create_time" property="createTime" jdbcType="DATE" />
        <result column="update_user" property="updateUser" jdbcType="BIGINT" />
        <result column="update_time" property="updateTime" jdbcType="DATE" />
    </resultMap>

    <insert id="insert" parameterType="com.cmpay.zwb.entity.RoleMenuDO" >
        insert into role_menu
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="rid != null" >
                rid,
            </if>
            <if test="mid != null" >
                mid,
            </if>
            <if test="action != null" >
                action,
            </if>
            <if test="createUser != null" >
                create_user,
            </if>
            <if test="createTime != null" >
                create_time,
            </if>
            <if test="updateUser != null" >
                update_user,
            </if>
            <if test="updateTime != null" >
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=BIGINT},
            </if>
            <if test="rid != null" >
                #{rid,jdbcType=BIGINT},
            </if>
            <if test="mid != null" >
                #{mid,jdbcType=BIGINT},
            </if>
            <if test="action != null" >
                #{action,jdbcType=VARCHAR},
            </if>
            <if test="createUser != null" >
                #{createUser,jdbcType=BIGINT},
            </if>
            <if test="createTime != null" >
                #{createTime,jdbcType=DATE},
            </if>
            <if test="updateUser != null" >
                #{updateUser,jdbcType=BIGINT},
            </if>
            <if test="updateTime != null" >
                #{updateTime,jdbcType=DATE},
            </if>
        </trim>
    </insert>

    <select id="find" resultMap="BaseResultMap" parameterType="com.cmpay.zwb.entity.RoleMenuDO" >
        select 
        <include refid="Base_Column_List" />
        from role_menu
        <where >
            <if test="id != null" >
                and id = #{id,jdbcType=BIGINT}
            </if>
            <if test="rid != null" >
                and rid = #{rid,jdbcType=BIGINT}
            </if>
            <if test="mid != null" >
                and mid = #{mid,jdbcType=BIGINT}
            </if>
            <if test="action != null" >
                and action = #{action,jdbcType=VARCHAR}
            </if>
            <if test="createUser != null" >
                and create_user = #{createUser,jdbcType=BIGINT}
            </if>
            <if test="createTime != null" >
                and create_time = #{createTime,jdbcType=DATE}
            </if>
            <if test="updateUser != null" >
                and update_user = #{updateUser,jdbcType=BIGINT}
            </if>
            <if test="updateTime != null" >
                and update_time = #{updateTime,jdbcType=DATE}
            </if>
        </where>
    </select>
</mapper>