<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cmpay.zwb.dao.IUserDao" >

    <sql id="Base_Column_List" >
        uid,name,passwd,phnumber,email,user_name,is_deleted,create_user,create_time,update_user,update_time
    </sql>

    <select id="getById" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from t_user
        <where>
            <if test="uid != null" >
                and uid = #{uid}
            </if>
        </where>
    </select>

    <select id="getByLogin" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from t_user
        <where>
            <if test="name != null and name != ''" >
                and `name` = #{name ,jdbcType=VARCHAR}
            </if>
            <if test="passwd != null and passwd != ''" >
                and passwd = #{passwd ,jdbcType=VARCHAR}
            </if>
        </where>
    </select>
    
    <update id="updateUserInfo" parameterType="com.cmpay.zwb.entity.UserDO">
        update t_user
        <set>
            <if test="name !=null and name != ''">
                `name` = #{name},
            </if>
            <if test="passwd != null and passwd != ''">
                passwd = #{passwd},
            </if>
            <if test="phnumber != null ">
                phnumber = #{phnumber},
            </if>
            <if test="email != null">
                email = #{email},
            </if>
            <if test="isDeleted != null">
                is_deleted = #{isDeleted},
            </if>
            <if test="updateUser != null">
                update_user = #{updateUser},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="userName != null">
                user_name = #{userName},
            </if>
            <if test="isDel != null">
                is_del = #{isDel},
            </if>
        </set>
        where uid = #{uid}
    </update>
    
    <delete id="ListDelUserr" parameterType="List">
        update t_user set is_del = '1'
                where uid in
                <foreach item="id" collection="list" open="(" close=")" separator=",">
                    #{id}
                </foreach>
    </delete>
</mapper>